In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
directory = 'Deteccion/RetinaFace/Friends'

In [107]:
frame_1 = np.load(f"{directory}/150/descriptores.npy")
frame_2 = np.load(f"{directory}/1000/descriptores.npy")

In [108]:
frame_1_norm = (frame_1.T / np.linalg.norm(frame_1, axis= 1)).T

In [109]:
frame_1_norm.shape

(4, 512)

In [110]:
frame_2_norm = (frame_2.T / np.linalg.norm(frame_2, axis= 1)).T

In [111]:
frame_2_norm.shape

(3, 512)

In [112]:
scores = frame_1_norm@frame_2_norm.T
scores

array([[ 0.00636635,  0.09058239,  0.41090506],
       [ 0.30299425, -0.19454922, -0.05732826],
       [-0.00478255, -0.05073496, -0.01780847],
       [ 0.07954722, -0.01819022, -0.11592321]], dtype=float32)

In [113]:
argmax = np.argmax(scores, axis=0) 
argmax

array([1, 0, 0])

In [114]:
np.max(scores, axis=0)

array([0.30299425, 0.09058239, 0.41090506], dtype=float32)

In [115]:
ix = np.max(scores, axis=0) > 0.3
ix

array([ True, False,  True])

In [121]:
res = ix * argmax + ~ix * -np.ones(len(ix))
res

array([ 1., -1.,  0.])

In [130]:
names = np.append(np.array([100, 200, 300, 400]), -1)
names[[1, -1, 0]]

array([200,  -1, 100])

In [203]:
class Personas:
    
    existentes = []
    path = ''
    thr = 0.3
    directory = 'Deteccion/RetinaFace/Friends'
    EMOCIONES = [
        "angry", 
        "disgust", 
        "scared", 
        "happy", 
        "sad", 
        "surprised", 
        "neutral"
    ]
    
    def __init__(self, descriptor, frame, index):
        self.descriptores = []
        self.data = pd.DataFrame(columns=[
            "index",
            "angry", 
            "disgust", 
            "scared", 
            "happy", 
            "sad", 
            "surprised", 
            "neutral",
            "pitch",
            "roll",
            "yaw"
        ])
        self.add(descriptor, frame, index)
        
    def add_descriptor(self, descriptor):
        normalizado = self.normalizar(descriptor)
        self.descriptores.append(normalizado)
    
    def add_emocion(self, frame, index):
        emociones = np.load(f'{directory}/{frame}/emociones.npy')
        self.data.loc[frame, self.EMOCIONES] = emociones[index]
    
    def add_headpose(self, frame, index):
        pass
    
    def add_bb(self, frame, index):
        pass
    
    def add(self, descriptor, frame, index):
        self.data.loc[frame, "index"] = index
        self.add_descriptor(descriptor)
        self.add_emocion(frame, index)
        self.add_headpose(frame, index)
        self.add_bb(frame, index)
    
    @staticmethod
    def normalizar(descriptor):
        if len(descriptor.shape) > 1:
            return (descriptor.T / np.linalg.norm(descriptor, axis= 1)).T
        else:
            return descriptor / np.linalg.norm(descriptor)
    
    @classmethod
    def juntar_personas(cls):
        total = []
        indices_list = []
        for i, persona in enumerate(cls.existentes):
            total.extend(persona.descriptores)
            indices_list.extend([i] * len(persona.descriptores))
        
        database = np.array(total)
        indices = np.array(indices_list)
        
        return database, indices
            
    
    @classmethod
    def encontrar_similar(cls, descriptores):
        """
        Recibe los descriptores de un nuevo frame.
        
        Si encuentra una persona similar entonces
        retorna el índice de la persona. 
        
        Sino retorna -1
        
        Si se recibe una matriz entonces el output
        es una lista
        """
        if len(descriptores)==0:
            return []
        
        # Juntar descriptores de personas existentes
        database, indices = cls.juntar_personas() 
        if len(database)==0:
            return [-1] * len(descriptores)
        
        # Comparar descriptores existentes con descriptores nuevos
        scores = database@descriptores.T
        
        # Encontrar indices con mayor score
        argmax = np.argmax(scores, axis=0) 
        
        # Encontrar indices donde el maximo supera el threshold
        ix = np.max(scores, axis=0) > cls.thr
        
        # Encontrar caras más parecidas
        sim_faces = ix * argmax + ~ix * -np.ones(len(ix))
        
        # Encontrar indices de personas
        indices = np.append(indices, -1)
        results = indices[sim_faces.astype(int)]
        
        return results
    
    @classmethod
    def nueva_persona(cls, descriptor, frame, index):
        """
        Agrega una nueva persona a lista de personas
        """
        cls.existentes.append(cls(descriptor, frame, index))
    
    @classmethod
    def agregar_descriptores(cls, identity, descriptores, frame):
        for index_origin, index_target in enumerate(identity):
            descriptor = descriptores[index_origin]
            if index_target >= 0:
                # Agregar descriptor a persona correspondiente
                persona = cls.existentes[index_target]
                persona.add(descriptor, frame, index_origin)
            else:
                # Agregar nueva persona
                cls.nueva_persona(descriptor, frame, index_origin)
    
    @classmethod
    def reset(cls):
        cls.existentes = []

In [204]:
Personas.reset()
for i in range(40):
    frame = np.load(f"{directory}/{i}/descriptores.npy")
    results = Personas.encontrar_similar(frame)
    Personas.agregar_descriptores(results, frame, i)

In [205]:
len(Personas.existentes[0].descriptores)

40

In [206]:
Personas.existentes[0].data

,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw
0,0,0.0605916,0.00439636,0.163676,0.105976,0.437814,0.00956166,0.217985,NaN,NaN,NaN
1,0,0.0358013,0.00336232,0.154518,0.0990854,0.434491,0.00920353,0.263538,NaN,NaN,NaN
2,0,0.0296305,0.00571881,0.143816,0.153038,0.269821,0.00970382,0.388271,NaN,NaN,NaN
3,0,0.0447929,0.0214209,0.132077,0.34365,0.189225,0.00770666,0.261127,NaN,NaN,NaN
4,0,0.0775742,0.0162405,0.167147,0.129144,0.315516,0.00700236,0.287376,NaN,NaN,NaN
5,0,0.0871559,0.0245417,0.188441,0.128384,0.32331,0.00712206,0.241046,NaN,NaN,NaN
6,0,0.0592054,0.02382,0.181719,0.186465,0.297571,0.00498295,0.246237,NaN,NaN,NaN
7,0,0.0826657,0.0225371,0.146828,0.100438,0.298938,0.00729222,0.341301,NaN,NaN,NaN
8,0,0.0886292,0.00262837,0.154497,0.0424788,0.410849,0.00698513,0.293933,NaN,NaN,NaN
9,0,0.0967668,0.00271104,0.1374,0.0456216,0.370011,0.00665116,0.340838,NaN,NaN,NaN
10,0,0.125749,0.00728734,0.160813,0.0909619,0.323544,0.00984263,0.281802,NaN,NaN,NaN
11,0,0.0945341,0.00795435,0.168011,0.0488995,0.394946,0.0125021,0.273154,NaN,NaN,NaN
12,0,0.0815447,0.00748158,0.17063,0.0454334,0.337687,0.0175384,0.339685,NaN,NaN,NaN
13,0,0.0958046,0.00658535,0.153419,0.134145,0.305697,0.00965757,0.294692,NaN,NaN,NaN
14,0,0.06242,0.00495147,0.155359,0.116199,0.280255,0.0133644,0.367451,NaN,NaN,NaN
15,0,0.0936245,0.00203378,0.251325,0.0546108,0.263577,0.0122146,0.322615,NaN,NaN,NaN
16,0,0.10663,0.00156936,0.313668,0.0401258,0.262179,0.0128562,0.262973,NaN,NaN,NaN
17,0,0.0957751,0.00175988,0.274158,0.0384949,0.295125,0.0111208,0.283567,NaN,NaN,NaN
18,0,0.103095,0.00180019,0.159588,0.0590966,0.306406,0.0150638,0.354951,NaN,NaN,NaN
19,0,0.0696175,0.00107186,0.24391,0.0532462,0.278228,0.0165317,0.337395,NaN,NaN,NaN
20,0,0.0831281,0.000675735,0.21587,0.0586485,0.250608,0.0115204,0.379548,NaN,NaN,NaN
21,1,0.093707,0.00179517,0.149513,0.0975797,0.175916,0.01179,0.469699,NaN,NaN,NaN
22,0,0.130001,0.00266919,0.157884,0.0791041,0.21545,0.017023,0.397869,NaN,NaN,NaN
23,0,0.0716914,0.00122136,0.143128,0.0599231,0.190445,0.0182306,0.515361,NaN,NaN,NaN
24,0,0.0902459,0.00146158,0.149669,0.063199,0.167962,0.0198435,0.507619,NaN,NaN,NaN
25,0,0.0801623,0.0031001,0.150694,0.0880151,0.208583,0.0247608,0.444685,NaN,NaN,NaN
26,0,0.0820361,0.00399277,0.146549,0.0848195,0.215295,0.0230042,0.444303,NaN,NaN,NaN
27,0,0.0801766,0.00456189,0.140753,0.0929218,0.174601,0.0239789,0.483006,NaN,NaN,NaN
28,0,0.154662,0.00460847,0.219875,0.03727,0.174769,0.0368001,0.372015,NaN,NaN,NaN
29,0,0.104249,0.0013743,0.235246,0.0580143,0.160284,0.023671,0.417161,NaN,NaN,NaN
30,0,0.115502,0.00292603,0.206903,0.0624968,0.171796,0.0222008,0.418175,NaN,NaN,NaN
31,0,0.144693,0.00151995,0.207644,0.0506184,0.138849,0.0237631,0.432912,NaN,NaN,NaN
32,0,0.113718,0.00117924,0.234287,0.0371422,0.147456,0.0263566,0.439862,NaN,NaN,NaN
33,0,0.107721,0.00135062,0.286014,0.0316049,0.152568,0.0373662,0.383376,NaN,NaN,NaN
34,0,0.101946,0.00280488,0.244403,0.0380575,0.1336,0.0303233,0.448866,NaN,NaN,NaN
35,0,0.0906302,0.00157454,0.193003,0.0389868,0.116967,0.057965,0.500873,NaN,NaN,NaN
36,2,0.0637167,0.00189892,0.579208,0.124689,0.0644097,0.0139359,0.152142,NaN,NaN,NaN
37,2,0.0486669,0.00109996,0.59278,0.0716533,0.117775,0.00574073,0.162285,NaN,NaN,NaN
38,1,0.0728717,0.003618,0.525522,0.125721,0.0866028,0.00679715,0.178868,NaN,NaN,NaN
39,1,0.0645771,0.00173048,0.481058,0.150145,0.0979883,0.00651582,0.197985,NaN,NaN,NaN

In [207]:
Personas.existentes[1].data

,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw
0,1,0.129491,0.00111534,0.0463445,0.0273935,0.0849974,0.0105302,0.700128,NaN,NaN,NaN
1,1,0.15072,0.00193867,0.0475138,0.0604405,0.0876748,0.0110678,0.640644,NaN,NaN,NaN
2,1,0.173361,0.00386459,0.0374429,0.0840561,0.0768111,0.00710518,0.617359,NaN,NaN,NaN
3,1,0.174754,0.00435174,0.0571104,0.0997265,0.0800052,0.0077135,0.576339,NaN,NaN,NaN
4,1,0.179711,0.00391713,0.0535906,0.0845384,0.0919304,0.00692739,0.579385,NaN,NaN,NaN
5,1,0.188261,0.00328831,0.0645917,0.0810587,0.107985,0.00837265,0.546443,NaN,NaN,NaN
6,1,0.194449,0.00565914,0.0682373,0.105163,0.097182,0.0137876,0.515523,NaN,NaN,NaN
7,1,0.165114,0.00310895,0.0551697,0.14672,0.0916012,0.0145362,0.52375,NaN,NaN,NaN
8,1,0.0925082,0.00777524,0.037213,0.24055,0.0777208,0.00836867,0.535864,NaN,NaN,NaN
9,1,0.112147,0.00217608,0.0599942,0.0836527,0.154739,0.0154758,0.571815,NaN,NaN,NaN
10,1,0.116017,0.0056258,0.0771178,0.142696,0.180123,0.0143229,0.464097,NaN,NaN,NaN
11,1,0.139278,0.00345489,0.105192,0.0874053,0.186378,0.0234587,0.454833,NaN,NaN,NaN
12,1,0.134497,0.0232779,0.0706168,0.31363,0.113147,0.0110613,0.33377,NaN,NaN,NaN
13,1,0.138981,0.00598239,0.10063,0.304767,0.112893,0.0132159,0.323531,NaN,NaN,NaN
14,1,0.124511,0.00624969,0.0886631,0.311641,0.118132,0.0121603,0.338642,NaN,NaN,NaN
15,1,0.108624,0.00478122,0.103294,0.201135,0.177811,0.0135918,0.390763,NaN,NaN,NaN
16,1,0.118361,0.00649152,0.113451,0.270654,0.158718,0.0169543,0.31537,NaN,NaN,NaN
17,1,0.155459,0.00604031,0.130654,0.344844,0.126385,0.019674,0.216945,NaN,NaN,NaN
18,1,0.0895745,0.00200267,0.0503186,0.579547,0.11335,0.0152465,0.14996,NaN,NaN,NaN
19,1,0.113233,0.0143341,0.0642004,0.42537,0.138547,0.0185589,0.225757,NaN,NaN,NaN
20,1,0.0480444,0.0358099,0.0317692,0.631837,0.0796077,0.00571272,0.167219,NaN,NaN,NaN
21,0,0.048923,0.00289786,0.0302644,0.615992,0.0690979,0.00265706,0.230168,NaN,NaN,NaN
22,1,0.0485637,0.0063474,0.0291802,0.487843,0.0683184,0.00396143,0.355786,NaN,NaN,NaN
23,1,0.0283713,0.0029339,0.0266561,0.626546,0.0556132,0.00266886,0.257211,NaN,NaN,NaN
24,1,0.0318086,0.00510346,0.020188,0.677019,0.0456034,0.00256472,0.217713,NaN,NaN,NaN
25,1,0.0671697,0.0104395,0.0301844,0.537053,0.0520191,0.00543358,0.297701,NaN,NaN,NaN
26,1,0.0658724,0.00636049,0.0339469,0.602668,0.0780626,0.00567007,0.207419,NaN,NaN,NaN
27,1,0.081655,0.016305,0.0603258,0.413589,0.0883769,0.00460389,0.335144,NaN,NaN,NaN
28,1,0.103489,0.00230938,0.0455207,0.490247,0.109408,0.0063927,0.242633,NaN,NaN,NaN
29,1,0.115335,0.00129317,0.042019,0.456195,0.0776268,0.00901702,0.298515,NaN,NaN,NaN
30,1,0.11283,0.00327288,0.0819986,0.273614,0.132783,0.0161535,0.379348,NaN,NaN,NaN
31,1,0.142183,0.000975086,0.0748075,0.150404,0.188435,0.0174956,0.425699,NaN,NaN,NaN
32,1,0.0732546,0.000565589,0.050526,0.212524,0.115957,0.00706067,0.540113,NaN,NaN,NaN
33,1,0.0995322,0.00139244,0.0803975,0.195845,0.127826,0.0131328,0.481873,NaN,NaN,NaN
34,1,0.0778484,0.000835835,0.0435234,0.258151,0.0968367,0.0101587,0.512645,NaN,NaN,NaN
35,1,0.0692148,0.00368222,0.0301942,0.292827,0.0744768,0.00973904,0.519866,NaN,NaN,NaN
36,4,0.138422,0.00155023,0.0673377,0.14426,0.0419657,0.0102863,0.596178,NaN,NaN,NaN
37,5,0.131658,0.00168061,0.0685476,0.157149,0.0378725,0.0118919,0.591201,NaN,NaN,NaN
38,5,0.133605,0.00178858,0.0689815,0.154225,0.037684,0.0124159,0.5913,NaN,NaN,NaN
39,5,0.0731046,0.000259113,0.0736267,0.159787,0.0919128,0.0121559,0.589153,NaN,NaN,NaN

In [208]:
Personas.existentes[2].data

,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw
36,0,0.187983,0.0191112,0.230469,0.0933016,0.0716735,0.00687361,0.390588,NaN,NaN,NaN
37,0,0.172312,0.0151837,0.217673,0.18264,0.0577653,0.0232873,0.331138,NaN,NaN,NaN
38,0,0.164391,0.0139124,0.214681,0.135206,0.0596528,0.0119053,0.400252,NaN,NaN,NaN
39,0,0.159896,0.0164637,0.245906,0.0892377,0.064404,0.0104809,0.413612,NaN,NaN,NaN

In [209]:
Personas.existentes[3].data

,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw
36,1,0.0736896,0.00344158,0.164303,0.149441,0.0697518,0.0125832,0.52679,NaN,NaN,NaN

In [210]:
Personas.existentes[4].data

,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw
36,3,0.122779,0.00285459,0.148552,0.443255,0.111405,0.00483938,0.166315,NaN,NaN,NaN
37,3,0.145511,0.00576311,0.134728,0.387688,0.051198,0.0123571,0.262756,NaN,NaN,NaN
38,2,0.113774,0.00565414,0.13089,0.421278,0.0533344,0.0116675,0.263402,NaN,NaN,NaN
39,2,0.102576,0.00408696,0.123547,0.437483,0.0514536,0.0126731,0.268181,NaN,NaN,NaN

In [212]:
Personas.existentes[5].data

IndexError: list index out of range

In [211]:
a = pd.DataFrame(columns=[
            "index",
            "angry", 
            "disgust", 
            "scared", 
            "happy", 
            "sad", 
            "surprised", 
            "neutral",
            "pitch",
            "roll",
            "yaw"
        ])

In [195]:
a.loc[4, "angry"] = 1
a.loc[10, "angry"] = 1

a

   index angry disgust scared happy  sad surprised neutral pitch roll  yaw
4    NaN     1     NaN    NaN   NaN  NaN       NaN     NaN   NaN  NaN  NaN
10   NaN     1     NaN    NaN   NaN  NaN       NaN     NaN   NaN  NaN  NaN

In [196]:
b = a.copy()

In [197]:
b.reset_index().rename(columns={'level_0': 'frame'})

,frame,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw
0,4,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
b.loc[:, 'id'] = 'persona_1'

In [200]:
b

,index,angry,disgust,scared,happy,sad,surprised,neutral,pitch,roll,yaw,id
4,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,persona_1
10,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,persona_1