In [31]:
import numpy as np
import pandas as pd
import os
import cv2
from tqdm.auto import tqdm

# Analisis de datos

In [45]:
df = pd.read_csv('../Personas/datos_personas.csv', index_col=['Frame', 'Index'])
df.head()

                angry   disgust    scared     happy       sad  surprised  \
Frame Index
0     0      0.060592  0.004396  0.163676  0.105976  0.437814   0.009562
      1      0.129491  0.001115  0.046344  0.027393  0.084997   0.010530
1     0      0.035801  0.003362  0.154518  0.099085  0.434491   0.009204
      1      0.150720  0.001939  0.047514  0.060440  0.087675   0.011068
2     0      0.029630  0.005719  0.143816  0.153038  0.269821   0.009704

              neutral max_emotion        yaw      pitch       roll  \
Frame Index
0     0      0.217985         sad  52.578339 -22.856438  -9.353592
      1      0.700128     neutral -74.909027  -2.250671  -3.394562
1     0      0.263538         sad  52.877441 -24.682152 -11.488426
      1      0.640644     neutral -66.944817  -6.109840  -3.190430
2     0      0.388271     neutral  56.523651 -31.214188 -16.066132

             Mira A (Index)  bb_x_min  bb_y_min  bb_x_max  bb_y_max  ID  \
Frame Index
0     0                 1.0       500        57       545       127   0
      1                 0.0       349       100       395       168   1
1     0                 1.0       498        55       543       125   0
      1                 0.0       352       101       395       168   1
2     0                 1.0       497        54       541       124   0

             Mira A (ID)
Frame Index
0     0              1.0
      1              0.0
1     0              1.0
      1              0.0
2     0              1.0

## ¿Cómo se sienten los que miran a Persona 1?

In [46]:
df.loc[df['Mira A (ID)'] == 1, 'max_emotion'].value_counts()

neutral    99
sad        12
scared      4
angry       4
happy       2
Name: max_emotion, dtype: int64

## ¿A quién miran más cuando están alegres?

In [47]:
df.loc[df.max_emotion == 'happy', 'Mira A (ID)'].value_counts()

2.0     22
4.0     14
5.0     14
3.0     13
0.0      8
10.0     5
19.0     2
1.0      2
18.0     1
Name: Mira A (ID), dtype: int64

## ¿A quién miran más cuando están tristes?

In [48]:
df.loc[df.max_emotion == 'sad', 'Mira A (ID)'].value_counts()

1.0     12
3.0      9
2.0      8
4.0      7
0.0      7
10.0     1
17.0     1
Name: Mira A (ID), dtype: int64

## ¿A quién mira más Persona 1?

In [49]:
df.loc[df.ID == 1, 'Mira A (ID)'].value_counts()

2.0     39
0.0     31
5.0     23
17.0     4
18.0     4
4.0      2
16.0     1
Name: Mira A (ID), dtype: int64

## Quien es el id mas comun

In [53]:
df.ID.value_counts()

0     1657
4     1096
2      980
3      634
5      507
10     483
1      393
17     353
16     241
14     176
6      146
9      139
13     119
15      79
12      54
11      37
18      26
20      25
19      16
21       5
7        2
8        1
Name: ID, dtype: int64

In [55]:
(df.ID == 0).sum()

1657

# Analisis de datos - Indentidades conocidas

In [59]:
df_known = pd.read_csv('../Personas/datos_personas_conocidas.csv', index_col=['Frame', 'Index'])
df_known.head()

                angry   disgust    scared     happy       sad  surprised  \
Frame Index
0     0      0.060592  0.004396  0.163676  0.105976  0.437814   0.009562
      1      0.129491  0.001115  0.046344  0.027393  0.084997   0.010530
1     0      0.035801  0.003362  0.154518  0.099085  0.434491   0.009204
      1      0.150720  0.001939  0.047514  0.060440  0.087675   0.011068
2     0      0.029630  0.005719  0.143816  0.153038  0.269821   0.009704

              neutral max_emotion        yaw      pitch       roll  \
Frame Index
0     0      0.217985         sad  52.578339 -22.856438  -9.353592
      1      0.700128     neutral -74.909027  -2.250671  -3.394562
1     0      0.263538         sad  52.877441 -24.682152 -11.488426
      1      0.640644     neutral -66.944817  -6.109840  -3.190430
2     0      0.388271     neutral  56.523651 -31.214188 -16.066132

             Mira A (Index)  bb_x_min  bb_y_min  bb_x_max  bb_y_max    ID  \
Frame Index
0     0                 1.0       500        57       545       127  Ross
      1                 0.0       349       100       395       168     6
1     0                 1.0       498        55       543       125  Ross
      1                 0.0       352       101       395       168     7
2     0                 1.0       497        54       541       124  Ross

            Mira A (ID)
Frame Index
0     0               6
      1            Ross
1     0               7
      1            Ross
2     0               8

## ¿Cómo se sienten los que miran a Chandler?

In [60]:
df_known.loc[df_known['Mira A (ID)'] == 'Chandler', 'max_emotion'].value_counts()

neutral    462
scared      34
happy       29
sad         14
angry        5
Name: max_emotion, dtype: int64

## ¿Cómo se sienten los que miran a Ross?

In [61]:
df_known.loc[df_known['Mira A (ID)'] == 'Ross', 'max_emotion'].value_counts()

neutral    337
scared      24
happy        9
sad          7
angry        4
Name: max_emotion, dtype: int64

## ¿A quién miran más cuando están alegres?

In [62]:
df_known.loc[df_known.max_emotion == 'happy', 'Mira A (ID)'].value_counts()

Chandler    29
Joey        14
Phoebe      12
Monica      10
Ross         9
Rachel       3
249          1
247          1
9            1
319          1
Name: Mira A (ID), dtype: int64

## ¿Quién es mas alegre?

In [63]:
df_known.loc[df_known.max_emotion == 'happy', 'ID'].value_counts()

Ross        155
Phoebe      141
Rachel       65
Chandler     58
Joey         49
Monica       45
316           1
328           1
148           1
141           1
120           1
296           1
27            1
106           1
29            1
113           1
34            1
161           1
30            1
317           1
319           1
130           1
252           1
38            1
107           1
181           1
327           1
31            1
397           1
295           1
308           1
152           1
398           1
179           1
26            1
28            1
24            1
297           1
306           1
101           1
298           1
25            1
121           1
23            1
36            1
238           1
32            1
Name: ID, dtype: int64

## ¿A quién miran más cuando están tristes?

In [64]:
df_known.loc[df_known.max_emotion == 'sad', 'Mira A (ID)'].value_counts()

Chandler    14
Phoebe       7
Ross         7
Joey         4
23           1
7            1
6            1
15           1
12           1
19           1
Rachel       1
17           1
10           1
11           1
Monica       1
16           1
14           1
Name: Mira A (ID), dtype: int64

## ¿A quién mira más Ross?

In [43]:
df_known.loc[df.ID == 'Ross', 'Mira A (ID)'].value_counts()

Chandler    266
Joey        139
Phoebe       74
Monica       58
Rachel       25
292           1
10            1
29            1
19            1
14            1
22            1
16            1
25            1
13            1
26            1
18            1
11            1
9             1
23            1
21            1
31            1
293           1
8             1
32            1
30            1
17            1
20            1
7             1
12            1
24            1
28            1
27            1
6             1
15            1
Name: Mira A (ID), dtype: int64

# Coincidencia

In [74]:
ross_equal_p0 = ((df_known.ID == 'Ross') & (df.ID == 0 ))
ross_equal_p0.sum()

1586

In [75]:
ross_or_p0 = ((df_known.ID == 'Ross') | (df.ID == 0 ))
ross_or_p0.sum()

1894

In [77]:
ross_equal_p0.sum() / ross_or_p0.sum() * 100

83.73812038014783

In [78]:
df.loc[:, 'ID known'] = df_known.ID

In [84]:
df.groupby(['ID', 'ID known']).angry.count()

ID  ID known
0   104            1
    112            1
    118            1
    125            1
    135            1
    147            1
    160            1
    167            1
    177            1
    188            1
    194            1
    204            1
    212            1
    221            1
    238            1
    266            1
    267            1
    270            1
    392            1
    393            1
    396            1
    Joey          41
    Phoebe         4
    Rachel         5
    Ross        1586
1   10             1
    11             1
    12             1
    13             1
    14             1
                ...
19  240            1
    241            1
    242            1
    243            1
    244            1
    245            1
    246            1
    247            1
    248            1
    249            1
    250            1
    251            1
    252            1
    Ross           2
20  336            1
    337            1
    338            1
    339            1
    340            1
    341            1
    342            1
    343            1
    344            1
    345            1
    346            1
    347            1
    348            1
    Monica        12
21  400            1
    Monica         4
Name: angry, Length: 459, dtype: int64

In [91]:
df.groupby(['ID', 'ID known']).angry.count().sort_values(ascending=False)

ID  ID known
0   Ross        1586
4   Phoebe       848
2   Chandler     653
3   Monica       360
2   Joey         327
10  Monica       324
1   Rachel       269
4   Chandler     245
5   Joey         230
16  Joey         219
3   Joey         182
17  Joey         156
10  Rachel       146
14  Rachel       124
3   Chandler      91
17  Rachel        88
5   Rachel        86
    Monica        85
9   Ross          70
17  Ross          64
5   Chandler      58
13  Rachel        49
0   Joey          41
6   Monica        39
13  Joey          38
9   Rachel        36
1   Ross          33
12  Chandler      32
14  Ross          28
5   Ross          27
                ...
15  151            1
    171            1
    180            1
13  361            1
    330            1
    327            1
12  200            1
    109            1
    115            1
    123            1
    131            1
    144            1
    155            1
    164            1
    173            1
    186            1
    190            1
    205            1
13  325            1
12  214            1
    222            1
    230            1
    389            1
    390            1
13  306            1
    308            1
    310            1
    312            1
    316            1
0   104            1
Name: angry, Length: 459, dtype: int64